<%- include('partials/header') -%>
   
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-screen">
        <h1 class="text-5xl font-bold">Available Surveys</h1>
        <!-- start of table -->
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th>Survey Name</th>
                <th>Created by User</th>
                <th>Likes/Times Completed</th>
              </tr>
            </thead>
            <tbody>
              <!-- row(s) -->
              <% for(let i=0; i<quizzes.length; i++) {%>
                <tr class="hover">
                  <th><% i + 1 %></th>
                  <td><a href="/quiz/<%= quizzes[i]._id%>"><i class="fa-solid fa-newspaper fa-2xl"></i> <%=quizzes[i].title%> </a></td>
                  <td><%=quizzes[i].user.userName%></td>
                  <td><%=quizzes[i].likes%></td>
                  <td><%let count = 0 %> 
                     
                  <%for(let j = 0 ; j < questions.length ; j++){%>
                    
                    <% if(questions[j].quiz === quizzes[i]._id) count+=1 %> 
                    
                    <% console.log(quizzes[i]._id == questions[j].quiz ? true:false) %>
                  <% } %>
                  <!-- <%=count%>  -->
                  </td>

                </tr>
              <% } %> 
             
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary my-6">Get Started</button>
      </div>
    </div>
  </div>
  
<%- include('partials/footer') -%>