<%- include('partials/header') -%>
<div class="flex flex-col w-screen h-screen lg:flex-row">
  <!-- left section -->
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
    <!-- card for username and email -->
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <div class="card-actions justify-center">
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          <a href="/myQuizzes" class="col-3 btn btn-primary">My Quizzes</a>
        </div>
      </div>
    </div>
    <!-- card for creating quiz-->  
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Create a new Quiz</h2>
        <form action="/quiz/createQuiz" method="POST" id="createQuizForm" name="createQuizForm">
          <div class="form-control w-full max-w-xs">
            <label for="title" class="label">
              <span class="label-text">Quiz Name</span>
            </label>
            <input type="text" id="title" name="title" placeholder="Quiz Name" class="form-control input input-bordered w-full max-w-xs" form="createQuizForm"/>
          </div>
          <div class="form-control w-full max-w-xs">
            <label for="description" class="label">
              <span class="label-text">Quiz Description</span>
            </label>
            <input type="text" id="description" name="description" placeholder="Quiz Description" class="form-control input input-bordered w-full max-w-xs" form="createQuizForm"/>
          </div>
          <div class="card-actions justify-center">
            <button type="submit" class="btn btn-primary" value="Upload">Create Quiz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- dividing line -->
  <div class="divider divider-horizontal"></div>
  <!-- right side with your quiz list and return to feed -->
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
    <!-- card for list of quizzes -->
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">My Quizzes</h2>
          <ul class="row list-unstyled">
            <% for(var i=0; i<quizzes.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/quiz/<%= quizzes[i]._id%>">
                  <i class="fa-solid fa-newspaper fa-2xl"></i>
                <span><%=quizzes[i].title%></span>
              </a>
            </li>
          <% } %>
          </ul> 
        <!-- return to feed button -->
        <div class="card-actions justify-center">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>
    </div>
   

  </div>
</div>

<%- include('partials/footer') -%>