<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2 class="justify-content-center"><%= quiz.title %></h2>
      <div class="col-6">

      </div>
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/quiz/likeQuiz/<%= quiz.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%=quiz.likes%></h3>
        <%if(quiz.user == user.id){ %>
        <form
          action="/quiz/deleteQuiz/<%=quiz.id%>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <div class="mt-5">
          <h2>Add Questions to your Quiz</h2>
          <form action="/question/createQuestion" method="POST" id="createQuestionForm" name="createQuestionForm">
            <div class="mb-3">
                <label for="question" class="form-label">Question Text</label>
                <input type="text" class="form-control" id="question" name="question" form="createQuestionForm">
                <label for="answer1" class="form-label">Answer A</label>
                <input type="text" class="form-control" id="answer1" name="answer1" form="createQuestionForm">
                <label for="answer2" class="form-label">Answer B</label>
                <input type="text" class="form-control" id="answer2" name="answer2" form="createQuestionForm">
                <label for="answer3" class="form-label">Answer C</label>
                <input type="text" class="form-control" id="answer3" name="answer3" form="createQuestionForm">
                <label for="answer4" class="form-label">Answer D</label>
                <input type="text" class="form-control" id="answer4" name="answer4" form="createQuestionForm">
                <input type="hidden" class="form-control" id="hidden" name="hidden" value="<%=quiz.id%>" form="createQuestionForm">
                

            </div>
            
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= quiz.description %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
