<%- include('partials/header') -%>

<div class="card w-screen bg-base-100 shadow-xl">
  <div class="card-body place-items-center justify-center">
    <form action="/question/submitAnswer/<%=quiz.id%>?_method=PUT" method="POST" id="submitAnswersForm" name="submitAnswersForm">
    <h1 class="card-title justify-center py-4"><%=quiz.title%></h1>
    <div class="flex flex-col w-full place-items-center justify-center">
      <% for(let i = 0 ; i < questions.length ; i++){%>
        
          <!-- top -->
          <div class="grid h-full w-96 py-4 card bg-base-300 rounded-box place-items-center justify-center">
            <h3>Question <%=i + 1%> => <%=questions[i].question%>?</h3>
              <ol>
                  <li>A. <%=questions[i].answer1%></li>
                  <li>B. <%=questions[i].answer2%></li>
                  <li>C. <%=questions[i].answer3%></li>
                  <li>D. <%=questions[i].answer4%></li>
              </ol>
              <div class="btn-group">
                  <input type="radio" name="question<%=i+1%>" value="answer1Responses" data-title="A" class="btn" form="submitAnswersForm" checked/>
                  <input type="radio" name="question<%=i+1%>" value="answer2Responses" data-title="B" class="btn" form="submitAnswersForm"/>
                  <input type="radio" name="question<%=i+1%>" value="answer3Responses" data-title="C" class="btn" form="submitAnswersForm"/>
                  <input type="radio" name="question<%=i+1%>" value="answer4Responses" data-title="D" class="btn" form="submitAnswersForm"/>
              </div>
          </div> 
          <!-- divide -->
          <div class="divider my-6"></div> 
          <% } %>
    </div>
    <div class="card-actions justify-center">
      <button type="submit" class="btn btn-primary" value="Upload">Submit Answers</button>
    </div>
  </form>
  </div>
</div>
        


<%- include('partials/footer') -%>
